@model IEnumerable<DAMMIT.Models.LocalInventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dodic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomenclature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dodic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomenclature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AmmoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AmmoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AmmoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
