@model AIM.Models.LocalInventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocalInventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dodic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dodic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomenclature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomenclature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AmmoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
