@model IEnumerable<AIM.Models.SingleTransactionDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Da5515Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dodic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomenclature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtyissued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtyreturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Da5515Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dodic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomenclature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtyissued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtyreturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
